.toolbar {
    color: adjust-color($color: #51c76a);
    &__foto {
        height: 100%;
    }
    &__presentation {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 16px;

        &__data {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    &__actions {
        display: flex;
        flex-direction: column;
        padding: 8px;
        :first-child {
            margin-bottom: 8px;
        }
    }
    
}

.space {
    margin-left: 8px;
}