.App {
  text-align: center;
  background-color: rgb(40, 44, 52);
}

@media (prefers-reduced-motion: no-preference) {

}
.App-link {
  color: #61dafb;
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
